<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="food-menu">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Menu / Dishes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopping-cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
      <ion-badge *ngIf="cartItemCount > 0" color="danger">{{cartItemCount}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Checkout</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>