<div class="container wrapper">
  <div class="row top">
    <div class="col bg-top-color" (click)="showTable()">
      <p class="title-top1">Tables</p>
    </div>
    <div class="col bg-top-color">
      <p class="title-top2">New Customer</p>
    </div>
  </div> 
  <div *ngIf="showtable" class="row row-cols-4 row-cols-lg-4 row-cols-md-4 row-cols-sm-3 table-wapper">
    <div class="col meal-category" *ngFor="let table of tables" (click)="selectDish(table);cartservice.getTableId(table)">
      <div class="tab-bg">
        <span class="tab-name">{{table.TableName}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col bg-color">
      <p class="title1">Customer {{this.data.customername}}</p>
    </div>
    <div class="col bg-color">
      <p class="title2">{{tablename}} </p>
    </div>
  </div>
  <div class="row" *ngIf="showdish">
    <div class="col bg-color1">
      <p class="menu-title">
        MENU/DISHES
      </p>
    </div>
  </div>
  <div class="row  row-cols-lg-6 row-cols-sm-2 row-cols-md-5"  *ngIf="showdish">
    <div class="col meal-col"  *ngFor="let meal of meals" (click)="showCats(meal);cartservice.getMealId(meal);">
      <img width="100" height="80" src="{{meal.image ||'assets/dummy/images/bri.jpg'}}">
      <p class="meal-name">{{meal.DishName}}</p>
  </div>
</div>
  <div class="row" *ngIf="showcats">
    <div class="col bg-color1">
      <p class="menu-title">
        SUB CATEGORIES ({{mealname}})
      </p>
    </div>
  </div>
  <div class="container" *ngIf="showcats">
    <div class="row row-cols-3 row-cols-lg-3 row-cols-md-3 row-cols-sm-3">
      <div class="col meal-category" *ngFor="let subcategory of subcats">
        <div class="cat-bg" (click)="cartservice.addToCart(subcategory)">
          <span class="cat-name">{{subcategory.CategoryName}}</span>
          <p class="cat-price">{{subcategory.Prize}} $</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row order-row"   *ngIf="cart && cart.items && cart.items.length">
    <div class="col bg-color1">
      <p class="order-title">
        ORDERS
      </p>
    </div>
  </div>
  <div class="table-responsive"  *ngIf="cart && cart.items && cart.items.length">
  <table class="table table-borderless order-table">
    <thead>
      <tr>
        <th scope="col" class="bg-head">
          <p class="order-title1">item</p>
        </th>
        <th scope="col" class="bg-head">
          <p class="order-title1">Quantity</p>
        </th>
        <th scope="col" class="bg-head">
          <p class="order-title1">Cost</p>
        </th>
        <th scope="col" class="bg-head">
          <p class="order-title1">Disc</p>
        </th>
        <th scope="col" class="bg-head">          
          <p class="order-title1">Tax</p>
        </th>
        <th scope="col" class="bg-head">          
          <p class="order-title1">Amount</p>
        </th>
      </tr>
    </thead>
    <tbody class="order-items" *ngFor="let item of cart.items">
      <tr>
        <th scope="row" class="bg-content">
          <p class="order-title2">
            <!-- ({{this.cart.DishName}}) -->
            {{item.CategoryName}}</p>
        </th>
        <td class="bg-content">
          <p class="order-title2"> 
            <span class="glyphicon glyphicon-minus minus" (click)="decreaseCount(item)">-</span>  
            <span class="count"> {{item.Quanity}} </span>
            <span class="glyphicon glyphicon-plus plus" (click)="increaseCount(item)">+</span>
          </p>
        </td>
        <td class="bg-content">
          <p class="order-title2">$ {{(item.Prize * item.Quanity)}}</p>
        </td>
        <td class="bg-content"> 
          <p class="order-title2">{{item.disc || 0}}</p>
        </td>
        <td class="bg-content">
          <p class="order-title2"> $ {{item.Tax}}</p>
        </td>
        <td class="bg-content">
          <p class="order-title2" >$  {{(item.Prize * item.Quanity) + item.Tax}} </p>
        </td>
      </tr>
    </tbody>
    <tfoot>
        <tr>
          <th scope="col" class="foot-bg">
            <p class="order-title1"> _  </p>
          </th>
          <th scope="col" class="foot-bg">
            <p class="order-title1">{{cartservice.getItemCount()}}</p>
          </th>
          <th scope="col" class="foot-bg">
            <p class="order-title1">$ {{cartservice.getItemTotalPrice()}} </p>
          </th>
          <th scope="col" class="foot-bg">
            <p class="order-title1"> {{cartservice.getDisc() || 0}} </p>
          </th>
          <th scope="col" class="foot-bg">          
            <p class="order-title1">$ {{cartservice.getTax()}}</p>
          </th>
          <th scope="col" class="foot-bg">          
            <p class="order-title1">$ 
              {{cartservice.getFinalTAmount()}}
            </p>
          </th>
        </tr>
    </tfoot>
  </table>
</div>
  <div class="container" *ngIf="cart && cart.items && cart.items.length">
    <div class="row row-cols-2 row-cols-lg-2 row-cols-md-2 row-cols-sm-2">
      <div class="col">
        <p class="order-status">
          Order Status: {{this.data.status}}
        </p>
      </div>
      <div class="col btn-order">
        <button  type="button" class="btn btn-light btn-lg btn-ord" (click)="cancelOrder()">Cancel Order</button> 
        <button  type="button" class="btn btn-light btn-lg btn-ord" (click)="palceOrder()">Place Order</button> 
        <!-- <div class="error">{{ error }}</div> -->
      </div>
    </div>
  </div>  
</div>